<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Mongo DB Scrape HW
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.google.com/?query=Cormorant">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">

  </head>
  <body>

    {{{ body }}}
    
  </body>
</html>